.article{
  text-align: center;
}

.title{
  margin: 0;
  padding: 0;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  background-color: #fff;
  border: 1px solid #000;
  margin-bottom: 5px;
}

.button{
  cursor: pointer;
  border-radius: 3px;
  border-color: #7b8ba2;
  background-color: #d9e8fb;
  width: 100%;
}