.article{
  text-align: center;
}

.title{
  margin: 0;
  padding: 0;
  display:inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content{
  padding: 5px;
  text-align: left;
  min-height: 100px;
  max-height: 100px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #000;
  margin-bottom: 5px;
  word-break: break-word;

}

.button{
  cursor: pointer;
  border-radius: 3px;
  border-color: #7b8ba2;
  background-color: #d9e8fb;
  width: 100%;
}