.wrapper{
  padding-top: 10px;
}

.form{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.label{
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
}

.input{
  font-family: inherit;
  margin-bottom: 20px;
  padding: 5px 10px;
}

.textarea{
  padding: 5px 10px;
  font-family: inherit;
  min-height: 400px;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.button{
   cursor: pointer;
   padding: 10px 15px;
   border-color: #7b8ba2;
   background-color: #d9e8fb;

  &__red{
    border-color: #e9b4b2;
    background-color: #f7cecc;
  }
 }